.header {
    background-color: #5467f3;
    text-align: center;
    padding: 40px;
}

.navigator {
    overflow: hidden;
    background-color: black;
}

.navigator a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.image {
    align-self: flex-end;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid red;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.flex-containter {
    display: flex;
    background-color: blue;
}

.flex-containter > div {
    background-color: rgb(255, 3, 3);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 1000px) {
    .flex-containter {
        flex-wrap: wrap;
    }
}